body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    text-emphasis: bolder;
    color:#575555;
    line-height: 1.5;
    width: 100%;
    height: 400px;
    background: url('background-sports.jpg') no-repeat center center fixed;
    background-size: cover;
}
h1 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Monoton', cursive;
    color: blue;
    margin-top: 10px;

}

li {
    list-style-type: none;
}

.main-btn {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-header {
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0px 0px 0px;
    text-align: left;
}
.matchup-col-header, .time-col-header, .tickets-col-header {
    background-color: darkcyan;
    color: whitesmoke;
}
td {
    vertical-align: middle;
}
table {
    width:100%;
}
.matchup-time {
    text-align: right;
    margin-right: 10px;
}
.matchup-teams {
    text-align:left;
}

#schedule-box {
    background-color: whitesmoke;
    opacity: 50%;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
}

