<<<<<<< HEAD
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    text-align: center;
=======

body {
    font-family: 'Ubuntu', sans-serif;
>>>>>>> 0991e4904bd6e4506fbf418cb24c786a6ff4ae43
    font-size: 17px;
    text-emphasis: bolder;
    color:#575555;
    line-height: 1.5;
<<<<<<< HEAD
}
h1 {
    font-weight: 900;
    font-size: 38px;
    margin-bottom: 10px;
=======
    width: 100%;
    height: 400px;
    background: url('background-sports.jpg') no-repeat center center fixed;
    background-size: cover;
}
h1 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: 'Monoton', cursive;
    color: blue;
    margin-top: 10px;

>>>>>>> 0991e4904bd6e4506fbf418cb24c786a6ff4ae43
}
.main-btn {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-header {
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0px 0px 0px;
    text-align: left;
}
.matchup-col-header, .time-col-header, .tickets-col-header {
    background-color: darkcyan;
    color: whitesmoke;
}
td {
    vertical-align: middle;
}
table {
    width:100%;
}
.matchup-time {
    text-align: right;
}
.matchup-teams {
    text-align:left;
<<<<<<< HEAD
=======
}

#schedule-box {
    background-color: whitesmoke;
    opacity: 50%;
>>>>>>> 0991e4904bd6e4506fbf418cb24c786a6ff4ae43
}