body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    text-align: center;
    font-size: 17px;
    text-emphasis: bolder;
    color:#575555;
    line-height: 1.5;
}
h1 {
    font-weight: 900;
    font-size: 38px;
    margin-bottom: 10px;
}
.main-btn {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-header {
    font-weight: 700;
    width: 100%;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0px 0px 0px;
    text-align: left;
}
.matchup-col-header, .time-col-header, .tickets-col-header {
    background-color: darkcyan;
    color: whitesmoke;
}
td {
    vertical-align: middle;
}
table {
    width:100%;
}
.matchup-time {
    text-align: right;
}
.matchup-teams {
    text-align:left;
}